#site_main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: $main_color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.card{

    margin: 10px;
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: $card_color;

}

